<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- the application context definition for the springapp DispatcherServlet -->
	<!-- We are not going to add any code to load the business objects from 
		a database just yet. Instead, we can stub a couple of Product instances using 
		Spring's bean and application context support. We will simply put the data 
		we need as a couple of bean entries in 'springapp-servlet.xml'. -->
	<bean id="productManager" class="springapp.service.SimpleProductManager">
		<property name="products">
			<list>
				<ref bean="product1" />
				<ref bean="product2" />
				<ref bean="product3" />
			</list>
		</property>
	</bean>

	<bean id="product1" class="springapp.domain.Product">
		<property name="description" value="Lamp" />
		<property name="price" value="5.75" />
	</bean>

	<bean id="product2" class="springapp.domain.Product">
		<property name="description" value="Table" />
		<property name="price" value="75.25" />
	</bean>

	<bean id="product3" class="springapp.domain.Product">
		<property name="description" value="Chair" />
		<property name="price" value="22.79" />
	</bean>

	<!--We will also add the 'messageSource' bean entry that will pull in the 
		messages resource bundle ('messages.properties') -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>


	<!-- To enable the ControllerClassNameHandlerMapping, declared it in the 
		bean configuration file, and now the controller’s bean’s name is no longer 
		required. If leave this declaration it takes control and does not allow to 
		load another bean with the link no attached to a name -->
	<!-- bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" 
		/ -->
	<!-- <bean name="/hello.htm" class="springapp.web.HelloController"/ -->

	<bean name="/hello.htm" class="springapp.web.InventoryController">
		<!-- Pass productManager in setter -->
		<property name="productManager" ref="productManager" />
	</bean>


	<bean name="/priceincrease.htm" class="springapp.web.PriceIncreaseFormController">
		<property name="sessionForm" value="true" />
		<property name="commandName" value="priceIncrease" />
		<property name="commandClass" value="springapp.service.PriceIncrease" />
		<property name="validator">
			<bean class="springapp.service.PriceIncreaseValidator" />
		</property>
		<property name="formView" value="priceincrease" />
		<property name="successView" value="hello.htm" />
		<property name="productManager" ref="productManager" />
	</bean>


	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>